:root {
  --dark-1: #272727;
  --dark-2: #3c3c3c;
  --dark-3: #525252;
  --dark-4: #696969;
  --font-color: #f4f4f5;
  --primary-1: #325c80; /* Adjusted primary color */
  --primary-2: #2563eb;
  --alert: #c85151;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-2);
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::placeholder {
  color: var(--font-color);
  opacity: 0.5;
}

* {
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--dark-2);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#tableGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 50vw;
  min-height: 100vh;
  color: var(--font-color);

  div {
    place-self: center;
    margin: 10px;
    width: 80%;

    h2 {
      text-align: center;
      margin-bottom: 10px;
      color: var(--primary-2);
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;

  td {
    padding: 10px;
    text-align: center;
  }

  tr {
    background-color: var(--dark-3);

    &:hover {
      background-color: var(--primary-1);
    }

    &:nth-child(even) {
      background-color: var(--dark-4);

      &:hover {
        background-color: var(--primary-2);
      }
    }
  }

  tr:first-child {
    background-color: var(--dark-1);
    color: var(--primary-2);
    font-weight: 700;
  }
}

#rightSide {
  color: var(--font-color);
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  #task {
    background-color: var(--dark-1);
    font-size: 1.5em;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    border-radius: 10px;
    color: var(--primary-2);
    overflow: hidden;
    height: fit-content;
  }

  table {
    width: 90%;
    margin: 25px 0;
    align-self: center;
  }

  #console {
    color: var(--font-color);
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 300px);

    .story {
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      background-color: var(--dark-4);
    }

    .task {
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      background-color: var(--primary-2);
    }

    .error {
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      background-color: var(--alert);
    }
  }

  form {
    display: flex;
    width: 90%;
    margin: 20px 0;
    border-radius: 10px;

    input[type="submit"] {
      font-size: 1.2em;
      width: 200px;
      padding: 10px;
      border: none;
      background-color: var(--primary-1);
      color: var(--font-color);
      cursor: pointer;
      border-radius: 0 10px 10px 0;

      &:hover {
        background-color: var(--primary-2);
      }

      &:active {
        background-color: var(--primary-1);
      }
    }

    textarea {
      border-radius: 10px 0 0 10px;
      font-size: 1.2em;
      width: 100%;
      padding: 25px;
      border: none;
      background-color: var(--dark-3);
      color: var(--font-color);
      resize: none;

      &:focus {
        outline: none;
        background-color: var(--dark-4);
      }
    }
  }
}
