:root {
  --zinc-950: #09090b;
  --zinc-900: #18181b;
  --zinc-800: #27272a;
  --zinc-700: #3f3f46;
  --font-color: #f4f4f5;
  --blue-700: #1d4ed8;
  --blue-600: #2563eb;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-600);
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--zinc-950);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#tableGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 50vw;
  min-height: 100vh;
  background-color: var(--zinc-900);
  color: var(--font-color);

  div {
    place-self: center;
    margin: 10px;
    width: 90%;

    h2 {
      text-align: center;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 10px;
      overflow: hidden;

      tr:first-child {
        background-color: var(--zinc-950);
        color: var(--blue-600);
        font-weight: 700;
      }

      td {
        padding: 10px;
        text-align: center;
      }

      tr:not(:first-child) {
        background-color: var(--zinc-800);

        &:hover {
          background-color: var(--blue-700);
        }

        &:nth-child(odd) {
          background-color: var(--zinc-700);

          &:hover {
            background-color: var(--blue-600);
          }
        }
      }
    }
  }
}

#rightSide {
  color: var(--font-color);
  font-size: 1.2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
  width: 100%;

  div {
    padding: 20px;
  }

  #task {
    background-color: var(--zinc-950);
    font-size: 1.5em;
  }

  #console {
    background-color: var(--zinc-800);
    color: var(--font-color);
    height: 100%;
    padding: 20px;
    overflow-y: scroll;

    .story {
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      background-color: var(--zinc-700);
    }

    .task {
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      background-color: var(--blue-600);
    }
  }

  form {
    display: flex;
    width: 100%;

    input[type="submit"] {
      font-size: 1.2em;
      width: 200px;
      padding: 10px;
      border: none;
      background-color: var(--blue-700);
      color: var(--font-color);
      cursor: pointer;
    }

    textarea {
      font-size: 1.2em;
      width: 100%;
      padding: 10px;
      border: none;
      background-color: var(--zinc-700);
      color: var(--font-color);
      resize: none;

      &:focus {
        outline: none;
      }
    }
  }
}
